<li>
    {{name}}

    <button class="change-burger" data-id="{{id}}" data-neweaten=""="{{eaten}}">
        {{#if eaten}}Eat Now{{else}}Already eaten{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Take Out</button>
</li>