<div class = "contanier">
 <div class ="row justify-content-md-center">
    <div class="jumbotron">
     <div class = "col-xs-12 centered"> 
         <h1>Welcome to the BurgerShop</h1>
     </div>
    </div>
 </div>
<div class ="row">
<div class = "col-sm-6 text-center" class ="task">
<div class="card">
    <div class="card-body">
    {{#each burgers}}
        {{#unless this.eaten}}
    <div class =".col-sm-9 text-center">
        <pre>{{this.id}}. {{this.name}}</pre>
    </div>
        <div class=".col-sm-3 text-center">
            <form method="POST" action="burgers/update?_method_PUT" class="button-size">
                <input type="hidden" name="burger_id" type="text" value={{this.id}}>
               
                <button type="submit" class="btn btn-info">Eat this!</button>
            </form>
        </div>
        {{/unless}}
        {{/each}}
     </div>
    </div>
</div> 
    <div class ="col-sm-6 text-center" class="task">
    {{#each burgers}}
    {{#if this.eaten}}
        <input class ="form-control" type = "text" placeholder="{{this.id}}. {{this.name}}" readonly>
    {{/if}}
    {{/each}}
    </div>
</div>

<div class ="row justify-content-md-center">
  
    <div class="col-sm-6 text-center">
        <div class="card">
            <div class="card-body">
                <h2>Add New Burger<h2>
                <form method="POST" action="create/burgers">
                    <textarea type="text" name="newBurger"> </textarea>
                    <br>
                    <button type="submit" class="btn btn-success" >Add a NEW Burger</button>
                </form>
            </div>
        </div>
</div>
</div>
</div>




